<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://arduinomt/"
            id="fr.obeo.dsl.arduino.ArduinoMT">
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="fr.obeo.dsl.arduino.ArduinoMT"
            uri="http://arduinomt/"
            id="fr.obeo.dsl.arduino.Arduino">
         <adapter
               class="fr.obeo.dsl.arduino.arduino.adapters.arduinomt.ArduinoAdapter"
               modeltypeId="fr.obeo.dsl.arduino.ArduinoMT">
         </adapter>
      </language>
   </extension>

</plugin>
