<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.gemoc.execution.sequential.javaengine.ui.launcher">
<intAttribute key="GEMOC_ANIMATE_DELAY" value="0"/>
<booleanAttribute key="GEMOC_LAUNCH_BREAK_START" value="false"/>
<stringAttribute key="GEMOC_LAUNCH_INITIALIZATION_ARGUMENTS" value=""/>
<stringAttribute key="GEMOC_LAUNCH_INITIALIZATION_METHOD" value="org.gemoc.arduino.sequential.arduino.aspects.Project_ExecutableAspect.initializeModel"/>
<stringAttribute key="GEMOC_LAUNCH_SELECTED_LANGUAGE" value="org.gemoc.arduino.sequential.Arduino"/>
<stringAttribute key="LAUNCH_METHOD_ENTRY_POINT" value="public static void org.gemoc.arduino.sequential.arduino.aspects.Project_ExecutableAspect.main(org.gemoc.arduino.sequential.arduino.arduino.Project)"/>
<stringAttribute key="LAUNCH_MODEL_ENTRY_POINT" value="/"/>
<booleanAttribute key="MultiBranch Reflective Trace" value="false"/>
<stringAttribute key="Resource" value="/org.gemoc.sample.arduino.sequential.blinker/model.arduino"/>
<booleanAttribute key="VCD visualization" value="false"/>
<stringAttribute key="airdResource" value="/org.gemoc.sample.arduino.sequential.blinker/model.aird"/>
<booleanAttribute key="arduino MultiDimensional Trace" value="true"/>
<booleanAttribute key="tfsm_plaink3 MultiDimensional Trace" value="false"/>
</launchConfiguration>
