<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.obeo.fr/arduino"
            class="org.gemoc.arduino.sequential.model.ArduinoPackage"
            genModel="model/arduino.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arduino -->
      <package
            uri="http://www.obeo.fr/arduino"
            class="org.gemoc.sequential.model.arduino.ArduinoPackage"
            genModel="model/arduino.genmodel"/>
   </extension>

</plugin>
