<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="xarduino.xdsml.api.impl.XArduinoCodeExecutor" modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.arduino.concurrent.XArduino" solver_class="org.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.arduino.concurrent.moc.dse/qvto-gen/modeling/arduinoML.qvto" xdsmlFilePath="/org.gemoc.arduino.concurrent/src/org/gemoc/arduino/concurrent/ArduinoConcurrent.melange">
      <XDSML_Definition_Customization fileExtensions="arduino" />
    </XDSML_Definition>
  </extension>
  <!--
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.arduino.concurrent.ArduinoConcurrentMT" uri="http://arduinoconcurrentmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.arduino.concurrent.ArduinoConcurrentMT" id="org.gemoc.arduino.concurrent.ArduinoConcurrent" uri="http://execarduino/">
      <adapter class="org.gemoc.arduino.concurrent.arduinoconcurrent.adapters.arduinoconcurrentmt.ArduinoConcurrentAdapter" modeltypeId="org.gemoc.arduino.concurrent.ArduinoConcurrentMT" />
    </language>
  </extension>
  !-->
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.arduino.concurrent.XArduinoMT" uri="http://org.gemoc.arduino.concurrent.xarduinomt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.arduino.concurrent.XArduinoMT" id="org.gemoc.arduino.concurrent.XArduino" uri="http://org.gemoc.arduino.concurrent.xarduino/arduino/">
      <adapter class="org.gemoc.arduino.concurrent.xarduino.adapters.xarduinomt.XArduinoAdapter" modeltypeId="org.gemoc.arduino.concurrent.XArduinoMT" />
    </language>
  </extension>
</plugin>
