<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExecArduino -->
      <package
            uri="http://execarduino/"
            class="org.gemoc.arduino.sequential.execarduino.arduino.ArduinoPackage"
            genModel="model/ExecArduino.genmodel"/>
   </extension>

</plugin>
